@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/YekanBakh-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  @apply text-[22px] text-text__body bg-back__body;
}
a,
button {
  @apply text-[20px] hover:bg-btn__hover transition-all duration-300;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  @apply text-text__body;
}

h1 {
  @apply text-[64px] lg:text-[84px] leading-none;
}
h2 {
  @apply text-[50px]  leading-none;
}
h3 {
  @apply text-[25px];
}
